@charset "UTF-8";
/**
* Colors
*/
/**
* Font
*/
/**
* MEDIA QUERY MANAGER
**/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

@-webkit-keyframes rotation1 {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-50px); } }

@keyframes slideContent2 {
  0% {
    opacity: 0;
    transform: translateX(50px); } }

@keyframes slideImage {
  0% {
    opacity: 0;
    transform: translateY(50px); } }

@keyframes bubbleMover {
  0% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
    transform: translateY(0px) translateX(0) rotate(0); }
  30% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
    transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: center center;
    transform-origin: center center; }
  50% {
    -webkit-transform: translateY(50px) translateX(100px) rotate(45deg);
    transform: translateY(50px) translateX(100px) rotate(45deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom; }
  80% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
    transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: left top;
    transform-origin: left top; }
  100% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
    transform: translateY(0px) translateX(0) rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center; } }

@keyframes inOut {
  0% {
    background-size: 140%; }
  100% {
    background-size: 155%; } }

@media only screen and (max-width: 1400px) {
  @keyframes inOut {
    0% {
      background-size: 160%; }
    100% {
      background-size: 190%; } } }

@media only screen and (max-width: 991px) {
  @keyframes inOut {
    0% {
      background-size: 370%; }
    100% {
      background-size: 420%; } } }

@media only screen and (max-width: 767px) {
  @keyframes inOut {
    0% {
      background-size: 420%; }
    100% {
      background-size: 460%; } } }

@media only screen and (max-width: 575px) {
  @keyframes inOut {
    0% {
      background-size: 570%; }
    100% {
      background-size: 600%; } } }

@media only screen and (max-width: 575px) {
  @keyframes inOut {
    0% {
      background-size: 720%; }
    100% {
      background-size: 770%; } } }

@media only screen and (max-width: 380px) {
  @keyframes inOut {
    0% {
      background-size: 800%; }
    100% {
      background-size: 850%; } } }

@keyframes footerHeart {
  0% {
    transform: scale(0); }
  25% {
    transform: scale(0.5);
    color: #50c878; }
  50% {
    transform: scale(1);
    color: #50c878; } }

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #1f2937; }

p {
  line-height: 1.8; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  color: #1f2937;
  font-weight: 700; }

.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6,
.theme-dark p {
  color: #ffffff; }

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-weight: 700; }

a {
  text-decoration: none;
  color: #1f2937;
  transition: 0.3s; }

ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/**
* Selection bg and color
*/
::selection {
  color: #ffffff;
  background: #50c878; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: inherit; } }

.section-wrapper {
  overflow-x: hidden; }

/**
* Backgrounds
*/
.section-bg-dark {
  background-color: #15263b; }

.section-bg-light {
  background-color: #ebf0f4; }

/**
* Color
*/
.color-light {
  color: #ffffff; }

.color-primary {
  color: #50c878; }

/**
* Section paddings
*/
.section-padding {
  padding: 80px 0; }

.section-padding-t {
  padding-top: 80px; }

.section-padding-b {
  padding-bottom: 80px; }

@media only screen and (max-width: 340px) {
  .section-padding {
    padding: 60px 0; }
  .section-padding-t {
    padding-top: 60px; }
  .section-padding-b {
    padding-bottom: 60px; } }

/**
* Text Style
*/
.text-brand {
  color: #50c878; }

/**
* Button primary
*/
.btn__primary {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 10px 30px;
  border-radius: 3px;
  overflow: hidden;
  text-transform: capitalize;
  text-decoration: none;
  border: 0;
  background-color: #50c878;
  color: #ffffff;
  transition: all 0.3s ease; }
  .btn__primary span {
    position: relative;
    z-index: 2;
    color: inherit; }
  .btn__primary::before, .btn__primary::after {
    position: absolute;
    content: "";
    top: 0px;
    width: 0px;
    height: 100%;
    z-index: 1;
    opacity: 1;
    background-color: #0f3460;
    transition: all 0.4s; }
  .btn__primary::before {
    left: 0px; }
  .btn__primary::after {
    right: 0px; }
  .btn__primary:hover::before, .btn__primary:hover::after {
    width: 50%; }
  .btn__primary:hover, .btn__primary:focus, .btn__primary:visited {
    text-decoration: none;
    outline: none;
    color: #ffffff; }

/**
* Button Link
*/
.btn__link {
  font-weight: 600;
  position: relative;
  color: #50c878;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center; }
  .btn__link i {
    position: relative;
    margin-left: 4px;
    font-size: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .btn__link:hover {
    color: #0f3460; }
    .btn__link:hover i {
      margin-left: 6px; }

.badge-text {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #50c878;
  font-weight: 600;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 1.25rem; }

/**
* Section Title
*/
[class*="section__title"] {
  text-align: center;
  margin-bottom: 3rem; }
  [class*="section__title"] p:first-child {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #50c878;
    font-weight: 600;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-size: 18px; }
    @media only screen and (max-width: 380px) {
      [class*="section__title"] p:first-child {
        font-size: 17px; } }
  [class*="section__title"] h3 {
    text-transform: capitalize; }

.section__title__center {
  text-align: center; }
  .section__title__center h3 {
    font-size: 40px; }
    @media only screen and (max-width: 380px) {
      .section__title__center h3 {
        font-size: 32px; } }

.section__title__left {
  text-align: left;
  margin-bottom: 2rem; }
  .section__title__left h3 {
    font-size: 30px; }
  @media only screen and (max-width: 767px) {
    .section__title__left {
      text-align: center; } }

.section__title__right {
  text-align: right;
  margin-bottom: 2rem; }
  .section__title__right h3 {
    font-size: 30px; }

.section-bg-dark [class*="section__title"] h3,
.theme-dark [class*="section__title"] h3 {
  color: #ffffff; }

.section-bg-dark .btn__link,
.theme-dark .btn__link {
  font-weight: 400; }
  .section-bg-dark .btn__link:hover,
  .theme-dark .btn__link:hover {
    color: #ffffff; }

/**


/**
* Social icon
*/
.social-icon {
  display: flex;
  align-items: center;
  margin-top: 10px; }
  .social-icon a {
    width: 30px;
    height: 30px;
    border-radius: 10px 10px 0 10px;
    background-color: #50c878;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center; }
    .social-icon a:not(:last-child) {
      margin-right: 10px; }
    .social-icon a:hover {
      color: #ffffff;
      background-color: #0f3460; }
    .social-icon a i {
      color: #ffffff; }

.header {
  position: absolute;
  width: 100%;
  transition: border-radius 0.2s, width 350ms ease;
  border-bottom: 1px solid #eff0f7;
  background-color: #ffffff;
  z-index: 9999; }
  .header.navbar_fixed {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0 2px 28px 0 rgba(1, 6, 33, 0.11);
    border-bottom: none;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown; }
  .header .navbar {
    border: 0px;
    padding: 15px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s;
    transition: all 0.4s ease-in-out; }
    .header .navbar .navbar-brand {
      padding: 0px; }
      .header .navbar .navbar-brand__title {
        color: #50c878;
        font-weight: 800;
        font-size: 42px; }
      .header .navbar .navbar-brand__logo-white {
        display: none; }
    .header .navbar .navbar-nav {
      display: flex; }
      .header .navbar .navbar-nav li a {
        color: #1f2937;
        font-weight: 600; }
        .header .navbar .navbar-nav li a:hover, .header .navbar .navbar-nav li a.active {
          color: #50c878;
          background-color: none; }
          .header .navbar .navbar-nav li a:hover:after, .header .navbar .navbar-nav li a.active:after {
            left: 10%;
            width: 80%;
            height: 2px; }
    @media only screen and (max-width: 991px) {
      .header .navbar ul#onepage-nav {
        max-height: 300px;
        overflow-y: scroll; } }
  .header .navbar-expand-lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s; }
    @media only screen and (max-width: 991px) {
      .header .navbar-expand-lg {
        padding-left: 15px;
        padding-right: 15px; } }
  .header .navbar-toggler {
    position: relative;
    width: 30px;
    height: 20px;
    border-radius: 0px;
    padding: 0px;
    border: 0px; }
    .header .navbar-toggler:focus {
      outline: none;
      box-shadow: none; }
    .header .navbar-toggler span {
      display: block;
      position: absolute;
      height: 1px;
      width: 50%;
      background: #1f2937;
      opacity: 1;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out; }
      .header .navbar-toggler span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0; }
      .header .navbar-toggler span:nth-child(odd) {
        left: 0px;
        border-radius: 9px 0 0 9px; }
      .header .navbar-toggler span:nth-child(1), .header .navbar-toggler span:nth-child(6) {
        transform: rotate(45deg); }
      .header .navbar-toggler span:nth-child(2), .header .navbar-toggler span:nth-child(5) {
        transform: rotate(-45deg); }
      .header .navbar-toggler span:nth-child(1) {
        left: 0px;
        top: 4px; }
      .header .navbar-toggler span:nth-child(2) {
        left: calc(50% - 4px);
        top: 4px; }
      .header .navbar-toggler span:nth-child(3) {
        left: -50%;
        opacity: 0; }
      .header .navbar-toggler span:nth-child(4) {
        left: 86%;
        opacity: 0; }
      .header .navbar-toggler span:nth-child(5) {
        left: 0px;
        top: 14px; }
      .header .navbar-toggler span:nth-child(6) {
        left: calc(50% - 4px);
        top: 14px; }
    .header .navbar-toggler.collapsed span:nth-child(1), .header .navbar-toggler.collapsed span:nth-child(2) {
      top: 2px; }
    .header .navbar-toggler.collapsed span:nth-child(3), .header .navbar-toggler.collapsed span:nth-child(4) {
      top: 9px; }
    .header .navbar-toggler.collapsed span:nth-child(5), .header .navbar-toggler.collapsed span:nth-child(6) {
      top: 16px; }
    .header .navbar-toggler.collapsed span:nth-child(2), .header .navbar-toggler.collapsed span:nth-child(5), .header .navbar-toggler.collapsed span:nth-child(1), .header .navbar-toggler.collapsed span:nth-child(6) {
      transform: rotate(0deg); }
    .header .navbar-toggler.collapsed span:nth-child(3) {
      opacity: 1;
      left: 0; }
    .header .navbar-toggler.collapsed span:nth-child(4) {
      opacity: 1;
      left: calc(50% - 4px); }

.dropdown-toggle::after {
  border-top: 0px;
  display: none; }

.dropdown-toggle.active.show span {
  transform: rotate(180deg);
  color: #50c878; }
  @media only screen and (max-width: 991px) {
    .dropdown-toggle.active.show span {
      color: #ffffff; } }

.menu > .nav-item {
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-bottom: 1px solid transparent;
  margin-left: 15px;
  padding: 8px;
  font-weight: 500;
  display: flex;
  gap: 5px; }
  .menu > .nav-item:hover span i {
    color: #50c878; }
  @media only screen and (max-width: 1199px) {
    .menu > .nav-item {
      margin-left: 0; }
      .menu > .nav-item button {
        margin: 8px 0; } }
  @media only screen and (max-width: 991px) {
    .menu > .nav-item {
      display: block; } }
  .menu > .nav-item a {
    display: block; }
    .menu > .nav-item a::after {
      position: absolute;
      left: 50%;
      bottom: 0px;
      width: 0%;
      content: "";
      -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
      transform: scale(-1);
      background-color: #50c878;
      -webkit-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease; }
      @media only screen and (max-width: 991px) {
        .menu > .nav-item a::after {
          left: 10px;
          background: inherit; } }
  .menu > .nav-item.submenu .dropdown-menu {
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    left: -50%;
    min-width: 170px;
    padding: 15px 0px;
    background: #ffffff;
    top: 100%;
    box-shadow: 0px 6px 20px 0px rgba(1, 6, 33, 0.11); }
    @media (min-width: 992px) {
      .menu > .nav-item.submenu .dropdown-menu {
        transform: translateY(20px);
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        opacity: 0;
        visibility: hidden;
        display: block; } }
    .menu > .nav-item.submenu .dropdown-menu .nav-item {
      display: block;
      width: 100%;
      padding: 0px 30px;
      position: relative; }
      .menu > .nav-item.submenu .dropdown-menu .nav-item:not(:first-child) {
        margin-top: 14px; }
      .menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link {
        padding: 0px;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 600;
        color: #1f2937;
        -webkit-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear; }
        .menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link:after {
          display: none; }
      .menu > .nav-item.submenu .dropdown-menu .nav-item:hover > .nav-link, .menu > .nav-item.submenu .dropdown-menu .nav-item:focus > .nav-link {
        color: #50c878; }
      .menu > .nav-item.submenu .dropdown-menu .nav-item > .dropdown-menu {
        -webkit-transition: transform 0.3s ease-in;
        -o-transition: transform 0.3s ease-in;
        transition: transform 0.3s ease-in; }
        .menu > .nav-item.submenu .dropdown-menu .nav-item > .dropdown-menu:before {
          display: none; }
        @media (min-width: 992px) {
          .menu > .nav-item.submenu .dropdown-menu .nav-item > .dropdown-menu {
            position: absolute;
            left: 100%;
            top: -15px;
            opacity: 0;
            display: block;
            visibility: hidden;
            transform: translateY(20px);
            -webkit-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in; } }
  @media (min-width: 992px) {
    .menu > .nav-item:hover .dropdown-menu {
      opacity: 1;
      transform: translateY(0);
      visibility: visible; } }
  @media (min-width: 992px) and (min-width: 992px) {
    .menu > .nav-item:hover .dropdown-menu > .nav-item:hover .dropdown-menu {
      transform: scaleY(1);
      opacity: 1;
      visibility: visible; } }

@media (max-width: 991px) {
  .navbar-nav > li .sub-menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background: #0f3460;
    width: 100%;
    height: 38px;
    width: 38px;
    line-height: 38px;
    margin-right: 0px;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    border: 3px solid #ffffff;
    color: #ffffff; } }

@media only screen and (max-width: 991px) {
  .navbar {
    padding-left: 15px;
    padding-right: 15px; }
  .navbar .navbar-collapse {
    position: absolute;
    left: 0;
    top: 100%;
    background: #ffffff;
    box-shadow: 4px 6px 10px rgba(1, 6, 33, 0.11);
    z-index: 8;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .menu > .nav-item {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0; }
    .menu > .nav-item.submenu .dropdown-menu {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 10px; }
      .menu > .nav-item.submenu .dropdown-menu .nav-item {
        padding-left: 0;
        padding-right: 0; } }

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px !important; }


.theme-dark .header .navbar .navbar-brand__logo-white {
  display: block; }

.theme-dark .navbar-brand__logo-dark {
  display: none; }



.theme-dark .header {
  background: #1f2937;
  border-bottom: none; }
  .theme-dark .header.navbar_fixed {
    background: #1f2937; }
  .theme-dark .header .navbar-nav li a {
    color: #ffffff; }
    .theme-dark .header .navbar-nav li a:hover, .theme-dark .header .navbar-nav li a.active {
      color: #50c878;
      background-color: none; }
  .theme-dark .header .navbar .navbar-collapse {
    background-color: #1f2937; }
  .theme-dark .header .navbar-toggler span {
    background-color: #ffffff; }

.theme-dark .nav-item span i {
  color: #ffffff; }

.theme-dark .nav-item:hover span i {
  color: #50c878; }

.theme-dark .nav-item.submenu .dropdown-menu {
  background-color: #0f3460; }
  .theme-dark .nav-item.submenu .dropdown-menu .nav-item .nav-link {
    color: #ffffff; }
    .theme-dark .nav-item.submenu .dropdown-menu .nav-item .nav-link:hover {
      color: #50c878; }

.hero__content {
  color: #ffffff;
  z-index: 999; }
  .hero__content h1 {
    color: #ffffff; }
  @media only screen and (max-width: 991px) {
    .hero__content {
      text-align: center;
      margin-bottom: 25px; } }

.hero__image {
  position: relative;
  min-height: 750px;
  transition: all 2s;
  z-index: 999; }
  @media only screen and (max-width: 1199px) {
    .hero__image {
      min-height: 700px; } }
  @media only screen and (max-width: 991px) {
    .hero__image {
      min-height: 600px; } }
  @media only screen and (max-width: 767px) {
    .hero__image {
      min-height: 500px; } }
  .hero__image .back-shape {
    background: #50c878;
    width: 100%;
    height: 600px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    position: absolute;
    bottom: 0; }
    @media only screen and (max-width: 1199px) {
      .hero__image .back-shape {
        height: 500px; } }
    @media only screen and (max-width: 380px) {
      .hero__image .back-shape {
        height: 450px; } }
  .hero__image .front-img {
    position: absolute;
    left: 0;
    bottom: 0; }
    @media only screen and (max-width: 991px) {
      .hero__image .front-img {
        max-height: 100%;
        left: 15%; } }
    @media screen and (max-width: 450px) {
      .hero__image .front-img {
        left: 5%; } }
    @media only screen and (max-width: 380px) {
      .hero__image .front-img {
        left: 0; } }

.hero .swiper-pagination {
  bottom: 20px;
  text-align: left; }
  .hero .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 5px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 5px));
    background: #ffffff;
    opacity: 1; }
  @media only screen and (max-width: 991px) {
    .hero .swiper-pagination {
      display: none; } }

.hero .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.hero .swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
  width: 22px;
  height: 8px;
  border-radius: 2px; }

.hero span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  position: relative;
  background: #50c878; }

.hero .swiper-wrapper .swiper-slide-active .hero__content .badge-text {
  animation: slideContent 0.4s linear 0.5s backwards; }

.hero .swiper-wrapper .swiper-slide-active .hero__content h1 {
  animation: slideContent 0.5s linear 0.6s backwards; }

.hero .swiper-wrapper .swiper-slide-active .hero__content p {
  animation: slideContent 0.7s linear 0.7s backwards; }

.hero .swiper-wrapper .swiper-slide-active .hero__content a {
  animation: slideContent 0.8s linear 0.8s backwards; }

.hero .swiper-wrapper .swiper-slide-active .hero__image .back-shape {
  animation: slideImage 0.5s linear 0.5s backwards; }

.hero .swiper-wrapper .swiper-slide-active .hero__image .front-img {
  animation: slideImage 1s linear 1s backwards; }

.hero .swiper-slide {
  padding-top: 130px;
  transition: all 2s ease;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: inOut 9s infinite alternate; }
  .hero .swiper-slide::before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: -1;
    background-color: #282f31b2; }



/* ABOUT */

.about-v2__image {
  position: relative; }
  .about-v2__image__box {
    width: 210px;
    height: 190px;
    position: absolute;
    right: -15%;
    top: 15%; }
    @media only screen and (max-width: 1199px) {
      .about-v2__image__box {
        top: -3%; } }
    @media only screen and (max-width: 991px) {
      .about-v2__image__box {
        right: 0;
        top: 13%; } }
    @media only screen and (max-width: 575px) {
      .about-v2__image__box {
        width: 200px;
        height: 180px;
        top: 8%; } }
    @media only screen and (max-width: 380px) {
      .about-v2__image__box {
        width: 160px;
        height: 180px;
        top: 0; } }
    .about-v2__image__box .image__box__content {
      overflow: hidden;
      position: relative;
      height: inherit;
      padding: 22px;
      z-index: 1;
      color: #ffffff; }
      @media only screen and (max-width: 380px) {
        .about-v2__image__box .image__box__content {
          padding: 22px; } }
      .about-v2__image__box .image__box__content::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 21px;
        transform: skewY(9deg);
        background: #50c878; }
      .about-v2__image__box .image__box__content span {
        font-size: 60px; }
        @media only screen and (max-width: 380px) {
          .about-v2__image__box .image__box__content span {
            font-size: 40px; } }

.about-v2__tab-btn ul {
  display: flex;
  padding: 0px;
  border: 1px solid #eff0f7;
  border-radius: 5px; }
  @media only screen and (max-width: 380px) {
    .about-v2__tab-btn ul {
      display: block; } }
  .about-v2__tab-btn ul li {
    width: 33.33%;
    text-align: center;
    border-radius: 5px; }
    .about-v2__tab-btn ul li.active {
      background-color: #50c878; }
      .about-v2__tab-btn ul li.active a {
        color: #ffffff; }
    .about-v2__tab-btn ul li a {
      display: inherit;
      padding: 10px 0px;
      color: #1f2937; }
      @media only screen and (max-width: 380px) {
        .about-v2__tab-btn ul li a {
          padding: 5px 0; } }
    .about-v2__tab-btn ul li p {
      margin-bottom: 0px; }
    @media only screen and (max-width: 380px) {
      .about-v2__tab-btn ul li {
        width: 100%; }
        .about-v2__tab-btn ul li:not(:last-child) {
          border-bottom: 1px solid #eff0f7; } }

.about-v2__content__details {
  padding-top: 20px; }
  .about-v2__content__details li {
    margin-bottom: 20px; }
    .about-v2__content__details li p {
      margin-bottom: 0px;
      color: #6c7380; }

[dir='rtl'] .about-v2__image__box {
  left: -15%; }
  @media only screen and (max-width: 991px) {
    [dir='rtl'] .about-v2__image__box {
      left: 0; } }

.theme-dark .about-v2 {
  background-color: #1f2937;
  color: #ffffff; }
  .theme-dark .about-v2 .about-v2__tab-btn ul li p {
    color: #ffffff; }

.aboutv2__image {
  padding: 0 30px;
  border-right: 5px solid transform;
  border-left: 5px solid transform;
  position: relative; }
  .aboutv2__image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    height: 40%;
    width: 5px;
    border-radius: 5px;
    background-color: #50c878; }
  .aboutv2__image::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 40%;
    width: 5px;
    border-radius: 5px;
    background-color: #50c878; }
  .aboutv2__image__admin {
    height: 500px;
    object-fit: cover; }
    @media only screen and (max-width: 1199px) {
      .aboutv2__image__admin {
        height: 580px; } }
    @media only screen and (max-width: 767px) {
      .aboutv2__image__admin {
        height: auto; } }
  .aboutv2__image__shape {
    position: absolute;
    top: -30px;
    left: 0;
    z-index: -1; }
  .aboutv2__image__exp {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px 13px 20px;
    background-color: #50c878;
    color: #ffffff; }
    .aboutv2__image__exp p {
      margin-bottom: 0; }
    .aboutv2__image__exp h3 {
      font-size: 45px;
      color: #ffffff; }

.aboutv2__content ul li {
  margin-bottom: 7px; }
  .aboutv2__content ul li i {
    margin-right: 10px;
    color: #50c878; }

.aboutv2__content .social-icon {
  margin: 20px 0 25px 0; }

.aboutv3__content ul li {
  margin-bottom: 7px; }
  .aboutv3__content ul li i {
    margin-right: 10px;
    color: #50c878; }

.aboutv3__content .social-icon {
  margin: 20px 0 25px 0; }

.aboutv3 .btn-next::after,
.aboutv3 .btn-prev::after {
  font-size: 20px;
  font-weight: bold;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 50%;
  color: #1f2937;
  transition: all 0.3s; }

.aboutv3 .btn-next:hover::after,
.aboutv3 .btn-prev:hover::after {
  background-color: #50c878;
  color: #ffffff; }

.aboutv3 .btn-next {
  right: 30px; }

.aboutv3 .btn-prev {
  left: 30px; }

.theme-dark .aboutv2 {
  background-color: #1f2937; }
  .theme-dark .aboutv2__content ul li {
    color: #ffffff; }

.theme-dark .aboutv3 {
  background-color: #1f2937; }
  .theme-dark .aboutv3__content ul li {
    color: #ffffff; }



.countdown {
  background-image: url(../images/countdown.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center; }
  .countdown:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    background-color: #1f2937; }
  .countdown__content {
    position: relative;
    z-index: 1;
    color: #ffffff; }
    .countdown__content ul {
      padding: 0;
      display: flex;
      gap: 2%;
      align-items: center;
      justify-content: center; }
      @media only screen and (max-width: 575px) {
        .countdown__content ul {
          flex-wrap: wrap; } }
      .countdown__content ul li {
        list-style: none;
        margin: 0;
        width: 130px;
        height: 130px;
        border: 1px solid #ffffff;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        position: relative; }
        .countdown__content ul li:first-child {
          margin-bottom: 10px; }
        .countdown__content ul li:nth-child(2) {
          margin-bottom: 10px; }
        .countdown__content ul li:not(:last-child) {
          margin-right: 20px; }
          @media only screen and (max-width: 575px) {
            .countdown__content ul li:not(:last-child) {
              margin-right: 0; } }
        @media only screen and (max-width: 575px) {
          .countdown__content ul li {
            width: 48%; } }
        .countdown__content ul li span {
          font-size: 40px;
          display: block;
          padding-top: 12px; }
        .countdown__content ul li p {
          position: absolute;
          bottom: 0;
          width: 100%;
          margin-bottom: 0;
          padding: 8px;
          color: #1f2937;
          background-color: #ebf0f4; }

.counters__stats__number {
  color: #ffffff;
  font-size: 40px; }
  .counters__stats__number .odometer {
    font-weight: bold; }
  .counters__stats__number h6 {
    color: #ffffff;
    margin-bottom: 0px;
    font-weight: 500; }

.counters__stats__icon {
  font-size: 60px;
  line-height: 0px; }

.countersv2__stats__number {
  background-color: #ebf0f4;
  padding: 20px;
  font-size: 40px;
  border-radius: 5px; }
  .countersv2__stats__number .odometer {
    font-weight: bold; }
  .countersv2__stats__number h6 {
    margin-bottom: 0px;
    font-weight: 500; }

.countersv2__stats__icon {
  font-size: 60px;
  line-height: 0px; }

.theme-dark .countersv2 {
  background-color: #1f2937;
  color: #ffffff; }
  .theme-dark .countersv2__stats__number {
    background-color: #15263b;
    color: #ffffff; }
    .theme-dark .countersv2__stats__number h6 {
      color: #ffffff; }



.footer {
  background-color: #ebf0f4;
  padding-top: 60px;
  padding-bottom: 60px; }
  .footer__title {
    padding-right: 20%;
    margin-bottom: 30px; }
  .footer__info {
    margin-top: 20px; }
    .footer__info h3 {
      font-size: 20px;
      margin-bottom: 10px; }
    .footer__info h4 {
      font-size: 18px; }
    .footer__info p {
      margin-bottom: 0; }
      .footer__info p:first-child {
        margin-bottom: 10px; }
  .footer__event {
    padding: 0; }
    .footer__event li {
      list-style: none;
      margin: 0;
      margin-bottom: 15px; }
    .footer__event__title {
      font-size: 18px;
      font-weight: 600; }
      .footer__event__title a:hover {
        color: #50c878; }
  .footer #instafeed {
    display: flex;
    flex-wrap: wrap; }
    .footer #instafeed a {
      width: 80px;
      height: 80px;
      position: relative;
      margin: 2px; }
      .footer #instafeed a::before {
        background-color: transparent;
        content: "";
        pointer-events: none;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
        width: 100%;
        z-index: 2; }
      .footer #instafeed a:hover:before {
        background-color: rgba(203, 16, 16, 0.3);
        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
      .footer #instafeed a:hover:after {
        opacity: 1;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
      .footer #instafeed a::after {
        background-position: 50%;
        content: "";
        font-family: "IcoFont";
        pointer-events: none;
        position: absolute;
        height: 15%;
        left: 40%;
        max-height: 40px;
        min-height: 25px;
        color: #50c878;
        opacity: 0;
        top: 50%;
        -webkit-transform: translateY(-50%) scale(0.75);
        transform: translate(-50%, -50%) scale(0.75);
        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        width: 100%;
        will-change: transform;
        z-index: 3; }
      .footer #instafeed a img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .footer__copyright {
    background-color: #ebf0f4;
    padding: 20px 0; }
    .footer__copyright i {
      animation: footerHeart 1s infinite; }
    .footer__copyright a:hover {
      color: #50c878; }

footer hr {
  margin: 0 0; }

.theme-dark .footer {
  background: #15263b; }
  .theme-dark .footer hr {
    color: #ffffff; }
  .theme-dark .footer__event li {
    color: #ffffff; }
    .theme-dark .footer__event li a {
      color: #ffffff; }
      .theme-dark .footer__event li a:hover {
        color: #50c878; }
  .theme-dark .footer__copyright {
    background: #15263b; }
    .theme-dark .footer__copyright a {
      color: #ffffff; }
      .theme-dark .footer__copyright a:hover {
        color: #50c878; }
  .theme-dark .footer .social-icon a:hover {
    background-color: #0f3460; }

.all-blogs {
  background-image: url(../images/blog/blog-title.jpg);
  padding: 170px 0 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center; }
  .all-blogs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    background-color: #282f31d7; }

.blog-title {
  text-align: center;
  color: #ffffff;
  z-index: 1; }
  .blog-title h1 {
    color: #ffffff; }
  .blog-title ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .blog-title ul li {
      list-style: none;
      font-weight: 500; }
      .blog-title ul li:not(:last-child) {
        margin-right: 15px; }
      .blog-title ul li a {
        color: #50c878; }
        .blog-title ul li a:hover {
          color: #ffffff; }

.blog__pagination {
  display: flex;
  justify-content: center; }
  .blog__pagination .page-link {
    color: #50c878; }
    .blog__pagination .page-link:hover {
      background-color: #0f3460;
      color: #ffffff; }
    .blog__pagination .page-link:focus {
      box-shadow: none;
      background-color: #50c878;
      color: #ffffff; }
  .blog__pagination .pagination {
    margin-top: 20px; }

.theme-dark .all-blogs-area {
  background: #1f2937; }

.blog-details__content__publish-time ul {
  display: flex;
  align-content: center;
  padding-left: 0;
  padding: 30px 0 30px 0; }
  .blog-details__content__publish-time ul li {
    display: flex;
    align-items: center;
    gap: 10px; }
    .blog-details__content__publish-time ul li:not(:last-child) {
      padding-right: 20px; }
    .blog-details__content__publish-time ul li i {
      font-size: 20px;
      color: #50c878; }

.blog-details__content__title {
  margin-bottom: 10px; }

.blog-details__content .para {
  margin-bottom: 15px; }

.blog-details__content blockquote {
  background-color: #0f3460;
  border-radius: 10px;
  padding: 60px 30px;
  margin-bottom: 28px;
  position: relative; }
  .blog-details__content blockquote i {
    position: absolute;
    left: 60px;
    top: 35px;
    font-size: 60px;
    color: #6c7380; }
  .blog-details__content blockquote .author h4 {
    color: #50c878;
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center; }
  .blog-details__content blockquote p {
    line-height: 37px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0; }

.blog-details__content .blog-tag {
  padding-top: 35px;
  margin-bottom: 35px; }
  .blog-details__content .blog-tag .social-icon {
    margin-top: 0; }
  .blog-details__content .blog-tag h4 {
    margin-bottom: 0;
    margin-right: 20px; }
  .blog-details__content .blog-tag .tag-list {
    gap: 10px; }
    .blog-details__content .blog-tag .tag-list li {
      padding: 6px 20px;
      border: 1px solid #eff0f7; }
      .blog-details__content .blog-tag .tag-list li a:hover {
        color: #50c878; }

.blog-details__content .comment__title {
  border-bottom: 1px solid #eff0f7; }

.blog-details__content .comment__wrapper {
  padding-top: 50px; }

.blog-details__content .comment__image {
  margin-right: 25px; }
  @media only screen and (max-width: 991px) {
    .blog-details__content .comment__image {
      margin-right: 20px; } }
  @media only screen and (max-width: 767px) {
    .blog-details__content .comment__image {
      margin-right: 10px; } }
  @media only screen and (max-width: 767px) {
    .blog-details__content .comment__image {
      margin-right: 10px; } }
  .blog-details__content .comment__image img {
    width: 200px;
    height: 110px; }
    @media only screen and (max-width: 991px) {
      .blog-details__content .comment__image img {
        width: 280px;
        height: 100px; } }
    @media only screen and (max-width: 767px) {
      .blog-details__content .comment__image img {
        width: 300px; } }

.blog-details__content .comment__content__top-area {
  margin-bottom: 15px; }

.blog-details__content .comment__content__reply {
  padding-top: 15px; }
  .blog-details__content .comment__content__reply a {
    border: 1px solid #50c878;
    padding: 6px 30px;
    color: #50c878;
    font-weight: 500; }
    .blog-details__content .comment__content__reply a i {
      margin-right: 10px; }

.blog-details__content .comment__form {
  padding-top: 60px; }
  .blog-details__content .comment__form__inner {
    display: flex;
    flex-direction: column; }
    .blog-details__content .comment__form__inner label {
      font-weight: 500;
      margin-bottom: 10px; }
    .blog-details__content .comment__form__inner input {
      margin-bottom: 25px;
      border-radius: 5px;
      padding: 10px;
      border: 1px solid #eff0f7; }
      .blog-details__content .comment__form__inner input:focus {
        border: 1px solid #eff0f7;
        outline: none; }
    .blog-details__content .comment__form__inner textarea {
      margin-bottom: 25px;
      border-radius: 5px;
      padding: 10px;
      border: 1px solid #eff0f7; }
      .blog-details__content .comment__form__inner textarea:focus {
        border: 1px solid #eff0f7;
        outline: none; }

.blog-details__sidebar__item {
  border: 1px solid #eff0f7;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px; }
  .blog-details__sidebar__item__1 {
    border-radius: 5px; }
    .blog-details__sidebar__item__1 .form-inner {
      border-bottom: 1px solid #eff0f7;
      display: flex; }
      .blog-details__sidebar__item__1 .form-inner input {
        border: unset;
        color: #1f2937;
        width: 100%; }
        .blog-details__sidebar__item__1 .form-inner input:focus {
          outline: none; }
      .blog-details__sidebar__item__1 .form-inner button {
        border: unset;
        background-color: #ffffff; }
  .blog-details__sidebar__item .blog-category__title {
    border-bottom: 1px solid #eff0f7;
    position: relative; }
    .blog-details__sidebar__item .blog-category__title h4 {
      font-weight: 500;
      font-size: 22px; }
    .blog-details__sidebar__item .blog-category__title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 1px;
      width: 80px;
      background: #50c878; }
  .blog-details__sidebar__item .blog-category__area {
    padding-top: 30px; }
    .blog-details__sidebar__item .blog-category__area ul {
      margin: 0;
      padding: 0; }
      .blog-details__sidebar__item .blog-category__area ul li:not(:last-child) {
        margin-bottom: 25px; }
      .blog-details__sidebar__item .blog-category__area ul li .post-img {
        margin-right: 15px;
        width: 150px; }
      .blog-details__sidebar__item .blog-category__area ul li .post-content {
        margin-bottom: 0; }
        .blog-details__sidebar__item .blog-category__area ul li .post-content a:hover {
          color: #50c878; }
  .blog-details__sidebar__item .category-list li {
    margin-bottom: 20px; }
    .blog-details__sidebar__item .category-list li a {
      display: flex;
      justify-content: space-between; }
      .blog-details__sidebar__item .category-list li a:hover,
      .blog-details__sidebar__item .category-list li a svg {
        fill: #50c878;
        color: #50c878; }
  .blog-details__sidebar__item .post-tag ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap; }
    .blog-details__sidebar__item .post-tag ul li a {
      border: 1px solid #eff0f7;
      border-radius: 2px;
      padding: 5px 20px;
      font-weight: 500; }
      .blog-details__sidebar__item .post-tag ul li a:hover {
        color: #50c878; }

.theme-dark .blog-details {
  background: #1f2937; }
  .theme-dark .blog-details__content .blog-tag .tag-list a {
    color: #ffffff; }
    .theme-dark .blog-details__content .blog-tag .tag-list a:hover {
      color: #50c878; }
  .theme-dark .blog-details__content__publish-time ul li {
    color: #ffffff; }

.theme-dark .post-content {
  color: #ffffff; }
  .theme-dark .post-content a {
    color: #ffffff; }
    .theme-dark .post-content a:hover {
      color: #50c878; }

.theme-dark .category-list a {
  color: #ffffff; }
  .theme-dark .category-list a:hover {
    color: #50c878; }

.theme-dark .blog-details__sidebar__item__1 .form-inner input {
  background: transparent;
  color: #ffffff; }

.theme-dark .blog-details__sidebar__item__1 .form-inner button {
  background: transparent; }
  .theme-dark .blog-details__sidebar__item__1 .form-inner button i {
    color: #ffffff; }

.theme-dark .blog-details__sidebar__item .post-tag ul li a {
  color: #ffffff; }
  .theme-dark .blog-details__sidebar__item .post-tag ul li a:hover {
    color: #50c878; }
